<div class="acs-container">
  <mat-drawer-container class="acs-content">
    <!-- Sidenav -->
    <mat-drawer #sidenav mode="side" opened="false" class="acs-sidenav">
      <app-sidebar [sidenav]="sidenav"></app-sidebar>
    </mat-drawer>

    <mat-drawer-content>
      <!-- Toolbar -->
      <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Sidenav Menu toggle icon" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span *ngIf="router.url === '/home/bando'">
          BANDI
        </span>
        <span *ngIf="router.url != '/home/bando'">
          DOMANDE
        </span>

        <button mat-raised-button color="basic" (click)="logout()">
          LOGOUT
          <mat-icon matSuffix style="margin-left: 0.8vw">logout</mat-icon>
        </button>

      </mat-toolbar>

      <!-- Routing Outlet -->
      <router-outlet></router-outlet>

    </mat-drawer-content>
  </mat-drawer-container>
</div>
