<div class="title_container">
  <h1>Tutti i bandi:</h1>
  <h3>{{listaBandi.length}} bandi</h3>
</div>

<div class="cards_container">
  <mat-card *ngFor="let bando of listaBandi">
    <mat-card-title>{{bando.title}}</mat-card-title>
    <mat-card-subtitle>#{{bando.code}}</mat-card-subtitle>
    <mat-divider inset></mat-divider>
    <mat-card-content>
      {{bando.description}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="openDomande(bando)">Visualizza domande</button>
    </mat-card-actions>
  </mat-card>
</div>
