h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

mat-card {
  width: 25%;
  height: 40%;
  margin: auto;
  background-color: #F5F5F5;
}

mat-card-actions,
mat-form-field {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

button {
  width: 50%;
  height: 6vh;
}

input {
  background-color: #F5F5F5 !important;
}
