<h1>Sign in to your account</h1>
<mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

    <mat-form-field appearance="outline">
      <mat-label>Enter your username</mat-label>
      <input formControlName="username" type="text" maxlength="20" matInput>
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="username?.errors?.['required']">Username is required</mat-error>
      <mat-error *ngIf="username?.errors?.['maxlength']">Username must be less then 20 chars</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input formControlName="password" [type]="!passwordVisibile ? 'password' : 'text'" maxlength="250" matInput>
      <mat-icon (click)="pwVisibile()" matSuffix>lock</mat-icon>

      <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
      <mat-error *ngIf="password?.errors?.['maxlength']">Password must be less then 20 chars</mat-error>
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" autofocus>Sign in</button>
    </mat-card-actions>

  </form>
</mat-card>
