.container {
  width: 90%;
  margin: auto;
}

table {
  width: 100%;
}

mat-tab-group {
  margin-top: 3vh;
}

h4 {
  text-align: center;
  margin-top: 30px;
}

.button_all_domande {
  margin-top: 5vh;
}

.mat-column-actions {
  width: 10vw;
  padding: 0px !important;
}
